.footer {
    padding: 90px 0;
    &__wrapper {
        width: 1200px;
        display: grid;
        grid-template-columns: 90px 120px 125px 320px 145px;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
    }
    &__divider {
        margin-top: 20px;
        margin-bottom: 60px;
        width: 50px;
        height: 2px;
        background-color: #00A692;
    }
    &__list {
        ul {
            list-style-type: none;
            li {
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 20px;
                color: #000000;
            }
        }
    }
    &__text {
        p, span {
            
            opacity: 0.5;
            font-size: 18px;
            font-weight: 100;
        }
        a {
            color: #00A692;
        }
    }
    &__social {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        width: 86px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;

    }
}